/**** Chameleon Global Settings Styles ****/
#chameleon-widget-settings {
	margin: 0 auto;

	min-width: 400px;
	min-height: 200px;
	max-height: 600px;
	max-width: 600px;
	
	top: 10%;
	bottom: 10%;
	left: 10%;
	right: 10%;
	position: absolute;

	background: url(../images/settings_bg.jpg) center top no-repeat;
}

#chameleon-widget-settings header {
	margin: 0px 20px 20px 20px;
	padding: 12px 0 10px 0;
	position: relative;
	top: 0;
	left: 0;
	width: 100;
	
	font: 20px 'Roboto-Regular';
	text-transform: uppercase;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}


/**** Settings Form ****/
#chameleon-widget-settings #widget-settings {
	position: absolute;
	top: 48px;
	bottom: 44px;
	left: 0;
	right: 0;
	
	padding: 10px 0 0 0;
	
	min-width: 400px;
	min-height: 100px;
	max-height: 600px;
	max-width: 600px;
	
	overflow: hidden;
	overflow-y: scroll;
}

#chameleon-widget-settings form, #chameleon-widget-settings fieldset {
	margin: 0;
	padding: 0;
	border: none;
	border-style: none;
}

#chameleon-widget-settings form {
	margin: 0  auto 10px;
	padding: 0 20px;
	width: 80%;
	min-width: 400px;
	
	overflow: hidden;
	overflow-y: scroll;
}

#chameleon-widget-settings label {
	font: 16px/30px 'Roboto-Medium';
	text-transform: uppercase;
}

#chameleon-widget-settings select, #chameleon-widget-settings .control-group, #chameleon-widget-settings input {
	margin-bottom: 20px;
	width: 100%;
}

#chameleon-widget-settings .help {
	margin: 6px 0 15px 0;
	padding: 0;
	font-size: 13px;
	color: #d8d8d8;
}

/*
#chameleon-widget-settings .control-group .controls {
	margin-top: 10px;
}
*/

#chameleon-widget-settings select, #chameleon-widget-settings input {
	margin: 0 0 10px 0;
	padding: 0;

	color: #fff;
	-webkit-appearance: none;
}


/**** Button ****/
#chameleon-widget-settings a {
	display: block;
	margin: 10px 0;
	padding: 12px 40px;
	background-color: rgba(255,255,255,0.205);
	border-top: 1px solid rgba(255,255,255,0.34);
	border-right: 1px solid rgba(0,0,0,0.04);
	border-bottom: 1px solid rgba(0,0,0,0.43);
	border-left: 1px solid rgba(0,0,0,0.04);
	box-shadow: 0 1px 1px rgba(0,0,0,0.25);
	border-radius: 1px;
	color: white;
	text-decoration: none;
	text-align: center;
}

#chameleon-widget-settings a.done {
	margin-bottom: 0;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

/* Select Box - Input Fields */
#chameleon-widget-settings select, #chameleon-widget-settings input[type="text"], #chameleon-widget-settings a.selectbox, textarea  {
	background-color: transparent;
	border: 2px solid transparent;
	border-bottom-color: #0099cc;
	border-radius: 0;
	padding:5px 0px;
	font-family: inherit;
	font-size: 16px;
}

/* Select Box */
#chameleon-widget-settings select, #chameleon-widget-settings a.selectbox {
	background: url(../images/html_spinner_triangle.png) 101% 104% no-repeat;
}

#chameleon-widget-settings a.selectbox {
	text-align: left;
	text-decoration: none;
	box-shadow: 0 0 0 rgba(0,0,0,0.25);
}

/* Input Fields */
#chameleon-widget-settings input[type="text"], #chameleon-widget-settings textarea {
	padding: 0 5px 6px 5px;
	background-image: url(../images/html_textfield_lrbordernub.png), url(../images/html_textfield_lrbordernub.png);
	background-position: -0.3% 104%, 100.5% 104%; 
	background-repeat: no-repeat; 
	
	box-sizing: border-box;
}

#chameleon-widget-settings input:focus[type="text"],
textarea {
	border-bottom-color: #0099cc;
}

#chameleon-widget-settings input[type="checkbox"] {
	margin-bottom: 0;
	width: 26px;
	height: 22px;
	
	display: block;
	
	-webkit-appearance: none;
	background: url(../images/checkbox_empty.png) left top no-repeat;
}

#chameleon-widget-settings input[type="checkbox"]:checked {
	background: url(../images/checkbox_checked.png) left top no-repeat;
}

/*** Loading Spinner ***/
#chameleon-widget-settings .spinner {
	margin: 20px 0;
	width: 100%;
	height: 26px;
	
	text-align: center;
	

}

@-webkit-keyframes rotate {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}

#chameleon-widget-settings .spinner img {
	-webkit-animation-name: rotate;
	-webkit-animation-duration: 0.4s;
	-webkit-animation-iteration-count:  infinite;
	-webkit-animation-timing-function: linear;		
}


.chameleon-error-badge {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	
	text-align: center;
	margin-top: 20%;
}

.chameleon-error-badge img {
		margin-bottom: 20px;
}

.chameleon-error-badge .done {
	display: block;
	margin: 30px auto 0 auto;
	padding: 12px 40px;
	background-color: rgba(255,255,255,0.205);
	border-top: 1px solid rgba(255,255,255,0.34);
	border-right: 1px solid rgba(0,0,0,0.04);
	border-bottom: 1px solid rgba(0,0,0,0.43);
	border-left: 1px solid rgba(0,0,0,0.04);
	box-shadow: 0 1px 1px rgba(0,0,0,0.25);
	border-radius: 1px;
	color: white;
	text-decoration: none;
	text-align: center;
	
	text-transform: uppercase;
	
	max-width: 300px;
}
