.console{
	overflow: scroll;
	background: #EF0038;
}

#accounts{
	width: 90%;
	position: relative;
	margin: 10px auto 0 !important;
}

#add-account {
	position: relative;
	width: 75%;
	margin: 5px auto 0 !important;
}

.label{
	margin: 0 0 5px 20px;
	font-size: 12px !important;
}

.heading{
	font-size: 16px !important;
}